/* Flex Training Section */
body{
    margin:0;
    padding: 0;
}

#red{
    background-color: #F25F5C;    
}
#yellow{
    background-color: #FFE066;
}
#blue{
    background-color: #247BA0;

}

.container1{
    display: flex;
    /* height: 1024px;
    width: 1440px; */
}
.box1{
    height: 300px;
    width: 300px;
    
}

.container2{
    display: flex; 
   
    /* height: 1024px;
    width: 1440px; */
}

.box2{
    height: 300px;
    width: 300px;
    flex-grow: 1;   
}

.container3{
    display: flex; 
    flex-direction: row-reverse;
}

.box3{
    height: 300px;
    width: 300px;
    flex-grow: 1;   
}

.container4{
    display: flex; 
    margin: 39px 43px;
}

.box4{
    height: 300px;
    width: 300px;
    flex-grow: 1;  
}

.container5{
    display: flex; 
    margin: 39px 43px;
    justify-content: center;
}

.box5{
    height: 300px;
    width: 300px; 
}

.container6{
    display: flex; 
    margin: 39px 43px;
    justify-content: center;
}

.box6{
    height: 300px;
    width: 300px; 
}
#yellow.box6{
    width: 586px;
}

.container7{
    display: flex; 
    margin: 39px 43px;
    justify-content: center;
    gap: 50px;
}

.box7{
    height: 300px;
    width: 300px; 
   
}

.container8{
    display: flex; 
    margin: 39px 43px;
    flex-direction: column;
    gap: 50px;
}

.box8{
    height: 300px;
    width: 300px; 
   
}

.container9{
    display: flex; 
    margin: 39px 43px;
    flex-direction: column;
    gap: 50px;
}

.box9{
    height: 300px;
    width: 300px;    
}
#yellow.box9{
    width: 855px;    
}
#blue.box9{
    width: 559px;    
}

.container10{
    display: flex; 
    margin: 39px 43px;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.box10{
    height: 300px;
    width: 300px;    
}
#yellow.box10{
    width: 855px;    
}
#blue.box10{
    width: 559px;    
}

.container11{
    display: flex; 
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.box11{
    height: 300px;
    width: 300px;
    flex-grow: 1;   
    min-width: 600px;
}

#red.box11{
    min-width: 1000px;
}