body{
    margin:0;
    padding: 0;
}

#red{
    background-color: #F25F5C;    
}
#yellow{
    background-color: #FFE066;
}
#blue{
    background-color: #247BA0;

}

.container1{
    display: flex;
    flex-wrap: wrap;
    width:1440px;
    height: 1024px;
    border: black 1px;
    border-style: solid;
}
.box1{
    background-color: #FFE066;
    height: 165px;
    width: 1440px;
    flex-grow: 1;  
}
.box2{
    background-color: #247BA0;
    height: 860px;
    width: 300px;
    min-width: 300px;
}
.box3{
    background-color: #F25F5C;   
    height: 624px;
    width: 986px;
    margin:69px;    
}
.container2{
    display: flex;
    margin: 39px 43px;
    gap: 50px;
    width: 1000px;
    flex-wrap: wrap;
}
.box4{
    background-color: #F25F5C;  
    height: 333px;
    width: 459px;
}
.box5{
    background-color: #F25F5C;  
    height: 300px;
    width: 966px;
}
.box6{
    background-color: #70C1B3;  
    height: 70px;
    width: 689px;
}
.container3{
    display: flex;
    margin: 40px 40px;
    gap: 25px;
    width: 1000px;
    flex-wrap: wrap;
    
    /* align-items: center;
    justify-content: space-between; 
    height: 1024px;
    max-width: 100%;
    min-width: 200px;
    min-height: 500px;*/
}
.box{
    flex: 0 1 auto;
}

