
html *
{
   font-family: 'Bebas Neue', sans-serif!important;
}

.container{
    background-color: #1E1F2F;
    width: 1610px;
    height: 930px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.word1{
    width: 331px;
    height: 96px;

    margin:125px 1018.46px 715px 261.54px;

    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 128%;
    

    display: flex;
    align-items: center;
   
    position: absolute;
    color: #FFFFFF;
}

.word2{    
    width: 800px;
    height: 400px;
    /* left: 130px;
    top: 301px; */

    margin:301px 601px 235px 130px;

    font-style: normal;
    font-weight: 400;
    font-size: 156px;
    line-height: 93.5%;

    display: flex;
    align-items: center;

    position: absolute;
    color: #FFFFFF;

    z-index: 3;
}

.square1{
    
    position: absolute;
    width: 31.06px;
    height: 27.42px;


    margin: 125px 1449.94px 783.58px 130px;

    background: #FFFFFF;
}

.square2{
    position: absolute;
    width: 60.47px;
    height: 68.55px;
  
    margin: 152.45px 1389.46px 715px 161.07px;
    /* $color-primary-base */
    justify-content: center;
    align-items: center;
    display: flex;
    
    background: #E82C4F;
}

#Himg{
    position: absolute;
    height: 34px;
    width: 43.94px;
    margin: 796px 1427.06px 106px 140px;

}
#Cimg{
    position: absolute;
    height: 40px;
    width: 40px;
    margin: 793px 1087px 103px 484px;

}

.word3{    
    width: 196px;
    height: 48px;

    margin: 789px 1209px 99px 206px;

    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 40px;

    display: flex;
    align-items: center;

    position: absolute;
    color: #FFFFFF;
}

.word4{    
    width: 196px;
    height: 48px;

    margin: 789px 865px 99px 550px;

    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 40px;

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    position: absolute;
    color: #FFFFFF;

    z-index: 3;
}
.bgsq1{
    box-sizing: border-box;

    /* margin: 385px 382px 93px 691px; */

    position: absolute;
    width: 558px;
    height: 644px;
    left: 691px;
    top: 385px;
    
    border: 60px solid #2D2F48;

    z-index: 2;
}
.bgsq2{
    box-sizing: border-box;

    /* margin: 179px 116px 471px 1169px; */

    position: absolute;
    width: 558px;
    height: 644px;
    left: 1169px;
    top: -179px;

    border: 60px solid #48596D;

    z-index: 2;
}

.whitesq1{
   box-sizing: border-box;

    position: absolute;
    width: 504px;
    height: 618px;
    left: 957px;
    top: 166px;

    border: 60px solid #FFFFFF;

    z-index: 2;
}

.whitesq2{
    box-sizing: border-box;

    position: absolute;
    width: 80px;
    height: 80px;
    left: 1169px;
    top: 385px;

    border: 20px solid #FFFFFF;

    z-index: 2;
}

.redsq{
    box-sizing: border-box;

   position: absolute;
    width: 240px;
    height: 240px;
    left: 1089px;
    top: 305px;

    /* $color-primary-base */

    border: 40px solid #E82C4F;

    z-index: 2;
}

.bluesq{
    box-sizing: border-box;

    position: absolute;
    width: 80px;
    height: 80px;
    left: 1089px;
    top: 585px;

    border: 20px solid #3256A1;

    z-index: 2;
}

.whitecircle{
    box-sizing: border-box;

    position: absolute;
    width: 80px;
    height: 80px;
    left: 1249px;
    top: 585px;

    border: 20px solid #FFFFFF;
    border-radius: 50%;
    
    z-index: 2;
}